[submodule "1-grading-tests"]
	path = 1-grading-tests
	url = git@github.com:spbu-coding-2023/1-grading-tests.git
[submodule "1-spisladqo"]
	path = 1-spisladqo
	url = git@github.com:spbu-coding-2023/1-spisladqo.git
[submodule "1-qrutyy"]
	path = 1-qrutyy
	url = git@github.com:spbu-coding-2023/1-qrutyy.git
[submodule "1-starscream1337"]
	path = 1-starscream1337
	url = git@github.com:spbu-coding-2023/1-starscream1337.git
[submodule "1-OGchukh"]
	path = 1-OGchukh
	url = git@github.com:spbu-coding-2023/1-OGchukh.git
[submodule "1-AlexandrKudrya"]
	path = 1-AlexandrKudrya
	url = git@github.com:spbu-coding-2023/1-AlexandrKudrya.git
[submodule "1-DanKu02"]
	path = 1-DanKu02
	url = git@github.com:spbu-coding-2023/1-DanKu02.git
[submodule "1-Demon32123"]
	path = 1-Demon32123
	url = git@github.com:spbu-coding-2023/1-Demon32123.git
[submodule "1-DripCat4er"]
	path = 1-DripCat4er
	url = git@github.com:spbu-coding-2023/1-DripCat4er.git
[submodule "1-IliaSuponeff"]
	path = 1-IliaSuponeff
	url = git@github.com:spbu-coding-2023/1-IliaSuponeff.git
[submodule "1-Kirilich"]
	path = 1-Kirilich
	url = git@github.com:spbu-coding-2023/1-Kirilich.git
[submodule "1-Lyart123"]
	path = 1-Lyart123
	url = git@github.com:spbu-coding-2023/1-Lyart123.git
[submodule "1-Mukovenkov-Roman-Sergeyevich"]
	path = 1-Mukovenkov-Roman-Sergeyevich
	url = git@github.com:spbu-coding-2023/1-Mukovenkov-Roman-Sergeyevich.git
[submodule "1-RodionovMaxim05"]
	path = 1-RodionovMaxim05
	url = git@github.com:spbu-coding-2023/1-RodionovMaxim05.git
[submodule "1-SecretPersona5"]
	path = 1-SecretPersona5
	url = git@github.com:spbu-coding-2023/1-SecretPersona5.git
[submodule "1-Sibiri4ok"]
	path = 1-Sibiri4ok
	url = git@github.com:spbu-coding-2023/1-Sibiri4ok.git
[submodule "1-Szczucki"]
	path = 1-Szczucki
	url = git@github.com:spbu-coding-2023/1-Szczucki.git
[submodule "1-TerrMen"]
	path = 1-TerrMen
	url = git@github.com:spbu-coding-2023/1-TerrMen.git
[submodule "1-Vars2006"]
	path = 1-Vars2006
	url = git@github.com:spbu-coding-2023/1-Vars2006.git
[submodule "1-VersusXX"]
	path = 1-VersusXX
	url = git@github.com:spbu-coding-2023/1-VersusXX.git
[submodule "1-VyacheslavIurevich"]
	path = 1-VyacheslavIurevich
	url = git@github.com:spbu-coding-2023/1-VyacheslavIurevich.git
[submodule "1-Ycyken"]
	path = 1-Ycyken
	url = git@github.com:spbu-coding-2023/1-Ycyken.git
[submodule "1-bikakuka"]
	path = 1-bikakuka
	url = git@github.com:spbu-coding-2023/1-bikakuka.git
[submodule "1-f1i3g3"]
	path = 1-f1i3g3
	url = git@github.com:spbu-coding-2023/1-f1i3g3.git
[submodule "1-homka122"]
	path = 1-homka122
	url = git@github.com:spbu-coding-2023/1-homka122.git
[submodule "1-kinokotakenoko9"]
	path = 1-kinokotakenoko9
	url = git@github.com:spbu-coding-2023/1-kinokotakenoko9.git
[submodule "1-mshipilov5"]
	path = 1-mshipilov5
	url = git@github.com:spbu-coding-2023/1-mshipilov5.git
[submodule "1-p1onerka"]
	path = 1-p1onerka
	url = git@github.com:spbu-coding-2023/1-p1onerka.git
[submodule "1-sofyak0zyreva"]
	path = 1-sofyak0zyreva
	url = git@github.com:spbu-coding-2023/1-sofyak0zyreva.git
[submodule "1-suvorovrain"]
	path = 1-suvorovrain
	url = git@github.com:spbu-coding-2023/1-suvorovrain.git
[submodule "1-AeugeneA"]
	path = 1-AeugeneA
	url = git@github.com:spbu-coding-2023/1-AeugeneA.git
[submodule "1-AzamGilt"]
	path = 1-AzamGilt
	url = git@github.com:spbu-coding-2023/1-AzamGilt.git
[submodule "1-ElBananium"]
	path = 1-ElBananium
	url = git@github.com:spbu-coding-2023/1-ElBananium.git
[submodule "1-Friend-zva"]
	path = 1-Friend-zva
	url = git@github.com:spbu-coding-2023/1-Friend-zva.git
[submodule "1-MaksimQR"]
	path = 1-MaksimQR
	url = git@github.com:spbu-coding-2023/1-MaksimQR.git
[submodule "1-RamProsad2"]
	path = 1-RamProsad2
	url = git@github.com:spbu-coding-2023/1-RamProsad2.git
[submodule "1-Sem4kok"]
	path = 1-Sem4kok
	url = git@github.com:spbu-coding-2023/1-Sem4kok.git
[submodule "1-sgrishkova"]
	path = 1-sgrishkova
	url = git@github.com:spbu-coding-2023/1-sgrishkova.git
[submodule "1-D31IRIUM"]
	path = 1-D31IRIUM
	url = git@github.com:spbu-coding-2023/1-D31IRIUM.git
[submodule "1-DARKpluz"]
	path = 1-DARKpluz
	url = git@github.com:spbu-coding-2023/1-DARKpluz.git
[submodule "1-Dennis2909"]
	path = 1-Dennis2909
	url = git@github.com:spbu-coding-2023/1-Dennis2909.git
[submodule "1-DronShock"]
	path = 1-DronShock
	url = git@github.com:spbu-coding-2023/1-DronShock.git
[submodule "1-T3triiS"]
	path = 1-T3triiS
	url = git@github.com:spbu-coding-2023/1-T3triiS.git
