[submodule "1-grading-tests"]
	path = 1-grading-tests
	url = git@github.com:spbu-coding-2023/1-grading-tests.git
[submodule "1-spisladqo"]
	path = 1-spisladqo
	url = git@github.com:spbu-coding-2023/1-spisladqo.git
[submodule "1-qrutyy"]
	path = 1-qrutyy
	url = git@github.com:spbu-coding-2023/1-qrutyy.git
[submodule "1-starscream1337"]
	path = 1-starscream1337
	url = git@github.com:spbu-coding-2023/1-starscream1337.git
[submodule "1-OGchukh"]
	path = 1-OGchukh
	url = git@github.com:spbu-coding-2023/1-OGchukh.git
[submodule "1-AlexandrKudrya"]
	path = 1-AlexandrKudrya
	url = git@github.com:spbu-coding-2023/1-AlexandrKudrya.git
[submodule "1-DanKu02"]
	path = 1-DanKu02
	url = git@github.com:spbu-coding-2023/1-DanKu02.git
[submodule "1-Demon32123"]
	path = 1-Demon32123
	url = git@github.com:spbu-coding-2023/1-Demon32123.git
[submodule "1-DripCat4er"]
	path = 1-DripCat4er
	url = git@github.com:spbu-coding-2023/1-DripCat4er.git
[submodule "1-IliaSuponeff"]
	path = 1-IliaSuponeff
	url = git@github.com:spbu-coding-2023/1-IliaSuponeff.git
[submodule "1-Kirilich"]
	path = 1-Kirilich
	url = git@github.com:spbu-coding-2023/1-Kirilich.git
[submodule "1-Lyart123"]
	path = 1-Lyart123
	url = git@github.com:spbu-coding-2023/1-Lyart123.git
[submodule "1-Mukovenkov-Roman-Sergeyevich"]
	path = 1-Mukovenkov-Roman-Sergeyevich
	url = git@github.com:spbu-coding-2023/1-Mukovenkov-Roman-Sergeyevich.git
[submodule "1-RodionovMaxim05"]
	path = 1-RodionovMaxim05
	url = git@github.com:spbu-coding-2023/1-RodionovMaxim05.git
[submodule "1-SecretPersona5"]
	path = 1-SecretPersona5
	url = git@github.com:spbu-coding-2023/1-SecretPersona5.git
